.footer {
    display: block;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 0;
    border-color: rgb(219, 18, 18);
    margin-top: 2em;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.3em;
}

.historial-link {
    background: #fefefe;
    border: none;
    padding: 0.9em;
    background-color: #343a40;
    color: #fefefe;
    border-radius: 0.3em;
    margin: 1em;
    text-transform: uppercase;
}